awscli
backports.shutil-get-terminal-size
botocore
colorama
cycler
decorator
docopt
docutils
futures
ipython
ipython-genutils
jmespath
matplotlib
numpy
pandas
pathlib2
pexpect
pickleshare
ptyprocess
pyasn1
pyparsing
PypeR
pysam
python-dateutil
pytz
rsa
s3transfer
scipy
seaborn
simplegeneric
six
traitlets
